<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Wellcome To Foodie!</title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %} {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %} {% endwith %}
    <center><h1>Foodie Back-End</h1></center>
    {% if session['logged_in'] == True %}
    <a href="/user/{{session['username']}}">{{session["username"]}}</a>
    <br />
    <a href="/logout">Logout</a>
    {% else %}
    <a href="/signin">Login</a>
    {% endif %}
    <br />
    <a href="/posts">Food</a>
    <br />
    <a href="/users">Admins</a>
  </body>
</html>
